node-red.json
[{"id":"2e973c0fd6147a10","type":"tab","label":"Flow 2","disabled":true,"info":"","env":[]},{"id":"5bee0999332e5398","type":"inject","z":"2e973c0fd6147a10","name":"Every 5 min","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":true,"onceDelay":3,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["e67a47eeb9b1d6da"]]},{"id":"7e54cec0ef3c7d6d","type":"server-state-changed","z":"2e973c0fd6147a10","name":"DSMR power change","server":"3b57172c.d67da8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.electricity_meter_energieverbruik"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":true,"outputProperties":[],"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.electricity_meter_energieverbruik","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","output_only_on_state_change":true,"x":120,"y":180,"wires":[["e67a47eeb9b1d6da"]]},{"id":"87df8b3ceadddb1e","type":"server-state-changed","z":"2e973c0fd6147a10","name":"Price hour change","server":"3b57172c.d67da8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.frank_energie_prijzen_huidige_elektriciteitsprijs_all_in"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":true,"outputProperties":[],"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.energyzero_today_energy_current_hour_price","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","output_only_on_state_change":true,"x":110,"y":280,"wires":[["e67a47eeb9b1d6da"]]},{"id":"e67a47eeb9b1d6da","type":"api-current-state","z":"2e973c0fd6147a10","name":"Current price","server":"3b57172c.d67da8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.frank_energie_prijzen_huidige_elektriciteitsprijs_all_in","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"currentPrice","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"","forType":"num","x":390,"y":180,"wires":[["647c8d72b4b8dc03"]]},{"id":"647c8d72b4b8dc03","type":"api-current-state","z":"2e973c0fd6147a10","name":"Avg price today","server":"3b57172c.d67da8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","entity_id":"sensor.frank_energie_prijzen_huidige_elektriciteitsprijs_all_in","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"avgPrice","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"","forType":"num","x":700,"y":180,"wires":[["e877644b7487a951"]]},{"id":"e877644b7487a951","type":"api-current-state","z":"2e973c0fd6147a10","name":"Energy prices","server":"3b57172c.d67da8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","entity_id":"sensor.frank_energie_prijzen_huidige_elektriciteitsprijs_all_in","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"frankPrices","propertyType":"msg","value":"$entity().attributes.prices","valueType":"jsonata"}],"for":"","forType":"num","x":980,"y":180,"wires":[["25a1ddba1ceab809"]]},{"id":"7cd0ba2a03fa0573","type":"function","z":"2e973c0fd6147a10","name":"Price Planner","func":"// Price Planner\n// v2.9 - charge window expansion biased toward earlier hours when neighbour prices\n//         are within EARLY_BIAS_EUR of each other; keeps grid charging before solar peak\n// v2.8 - solar forecast (energy_production_remaining_today) deducted from kwhNeeded;\n//         grid charge window shrinks when solar will cover part of the charge\n// v2.7 - discharge band filter raised to avgPrice (hours below avg can never be discharge hours)\n// v2.6 - charge window centered on cheapest hour, expanded outward; price cap\n//         replaced by contiguous window logic — lowest price sits in center of charge period\n// v2.5 - dynamic CHARGE_ABS_RATIO/DISCHARGE_ABS_RATIO aligned with EMS v3.4\n// v2.4 - avgPrice and currentPrice calculated from Frank Energie array, EnergyZero removed\n// v2.3 - version defined as single variable at top\n// v2.2 - SOC_NORMAL_THRESHOLD raised to 80%\n// v2.1 - fixed msg.plannerVersion, DISCHARGE_ABS_MIN corrected\n// v2.0 - dischargeThreshold recalculated after conflict filter\n\nvar PLANNER_VERSION      = 'v2.9';\nvar BATTERY_KWH          = 40;\nvar BATTERY_VOLTAGE      = 48;\nvar MAX_AMPS             = 200;\nvar ROUND_TRIP_EFF       = 0.85;\nvar SOC_MIN              = 10;\nvar SOC_MAX              = 95;\nvar SAFETY_BUFFER_H      = 1;\nvar SOC_NORMAL_THRESHOLD = 80;    // above this, use tight charge cap\nvar CHARGE_ABS_RATIO     = 0.55;  // tight cap = avg * this (mirrors EMS v3.4)\nvar DISCHARGE_ABS_RATIO  = 0.55;  // min discharge price = avg * this (mirrors EMS v3.4)\nvar SOLAR_FORECAST_EFF   = 0.90;  // how much of the solar forecast actually reaches the battery\nvar EARLY_BIAS_EUR       = 0.02;  // prefer earlier hour when price difference is within this margin\n\nvar maxChargeKw = (MAX_AMPS * BATTERY_VOLTAGE / 1000) * ROUND_TRIP_EFF;\n\nvar batterySoC = parseFloat(msg.batterySoC) || parseFloat(context.get('lastSoC')) || 50;\ncontext.set('lastSoC', batterySoC);\n\n// Solar forecast — kWh still expected today from Forecast.Solar integration\n// Entity: sensor.energy_production_remaining_today (kWh)\n// Falls back to 0 if sensor is unavailable so planner remains conservative\nvar solarForecastKwh = parseFloat(msg.solarForecastRemaining) || 0;\nvar solarUsableKwh   = solarForecastKwh * SOLAR_FORECAST_EFF;  // apply efficiency loss\n\nvar usableCapacity = BATTERY_KWH * ((SOC_MAX - SOC_MIN) / 100);\nvar currentKwh     = BATTERY_KWH * ((batterySoC - SOC_MIN) / 100);\nvar kwhNeeded      = Math.max(0, usableCapacity - currentKwh);\nvar kwhFromGrid    = Math.max(0, kwhNeeded - solarUsableKwh);  // solar covers part; grid covers rest\nvar hoursNeeded    = Math.ceil(kwhFromGrid / maxChargeKw) + SAFETY_BUFFER_H;\n\n// Accept Frank Energie price array in either format\nvar prices = null;\nif (Array.isArray(msg.frankPrices)) {\n  prices = msg.frankPrices;\n} else if (msg.frankPrices && Array.isArray(msg.frankPrices.prices)) {\n  prices = msg.frankPrices.prices;\n}\n\nif (!prices || prices.length === 0) {\n  msg.plannerVersion        = PLANNER_VERSION;\n  msg.inChargingWindow      = null;\n  msg.inDischargeWindow     = null;\n  msg.dischargeThreshold    = null;\n  msg.plannedChargeHours    = [];\n  msg.plannedDischargeHours = [];\n  msg.hoursNeeded           = hoursNeeded;\n  msg.kwhNeeded             = parseFloat(kwhNeeded.toFixed(2));\n  msg.kwhFromGrid           = parseFloat(kwhFromGrid.toFixed(2));\n  msg.solarForecastKwh      = parseFloat(solarUsableKwh.toFixed(2));\n  msg.cheapestPrice         = null;\n  msg.plannerReason         = 'No price schedule available - using ratio fallback';\n  node.status({ fill: 'yellow', shape: 'dot', text: PLANNER_VERSION + ' No price data - fallback mode' });\n  return msg;\n}\n\nvar now         = new Date();\nvar currentHour = now.getHours();\n\n// Determine local date string for today's prices\nvar localOffset  = now.getTimezoneOffset() * 60000;\nvar localNow     = new Date(now.getTime() - localOffset);\nvar localDateStr = localNow.toISOString().substring(0, 10);\n\n// Parse all prices and calculate avg + current from the array directly\nvar allParsed    = [];\nvar totalPrice   = 0;\nvar todayCount   = 0;\nvar currentPriceCalc = null;\n\nfor (var i = 0; i < prices.length; i++) {\n  var p        = prices[i];\n  var fromDate = new Date(p.from);\n  var tillDate = new Date(p.till);\n  var localHour = parseInt(p.from.substring(11, 13), 10);\n  var dateStr   = p.from.substring(0, 10);\n  allParsed.push({ from: fromDate, till: tillDate, price: parseFloat(p.price), localHour: localHour, dateStr: dateStr });\n\n  if (dateStr === localDateStr) {\n    totalPrice += parseFloat(p.price);\n    todayCount++;\n    if (localHour === currentHour) {\n      currentPriceCalc = parseFloat(p.price);\n    }\n  }\n}\n\nvar avgPriceCalc = todayCount > 0 ? totalPrice / todayCount : 0.10;\n\n// Override msg so EMS uses Frank Energie prices\nmsg.currentPrice = currentPriceCalc !== null ? String(currentPriceCalc) : msg.currentPrice;\nmsg.avgPrice     = String(avgPriceCalc);\n\n// Dynamic price caps based on today's average (mirrors EMS CFG ratios)\nvar chargePriceCap  = batterySoC >= SOC_NORMAL_THRESHOLD\n  ? avgPriceCalc * CHARGE_ABS_RATIO      // tight: SoC healthy\n  : avgPriceCalc * 0.99;                 // expanded: SoC low — any below-avg hour qualifies\nvar dischargeAbsMin = avgPriceCalc * DISCHARGE_ABS_RATIO;\n\n// Only consider remaining hours today\nvar remainingToday = [];\nfor (var r = 0; r < allParsed.length; r++) {\n  if (allParsed[r].dateStr === localDateStr && allParsed[r].till > now) {\n    remainingToday.push(allParsed[r]);\n  }\n}\n\n// Sort remaining by price ascending to find cheapest hour\nvar planPrices = remainingToday.slice();\nplanPrices.sort(function(a, b) { return a.price - b.price; });\n\nvar cheapestPrice = planPrices.length > 0 ? planPrices[0].price : null;\n\n// Build charge window centered on the cheapest hour, expanding outward.\n// remainingToday is already in time order (ascending from). Find the index\n// of the cheapest hour within it, then expand left/right picking the\n// cheaper neighbour at each step until hoursNeeded slots are filled.\n// This guarantees the cheapest hour is always inside the window and the\n// window is contiguous in time — the battery charges through the price valley.\n\nvar cheapestHour = planPrices.length > 0 ? planPrices[0].localHour : currentHour;\n\n// Find center index in time-ordered remainingToday\nvar centerIdx = 0;\nfor (var ci = 0; ci < remainingToday.length; ci++) {\n  if (remainingToday[ci].localHour === cheapestHour) { centerIdx = ci; break; }\n}\n\nvar windowIndices = [centerIdx];\nvar left  = centerIdx - 1;\nvar right = centerIdx + 1;\n\nwhile (windowIndices.length < hoursNeeded) {\n  var canLeft  = left >= 0;\n  var canRight = right < remainingToday.length;\n  if (!canLeft && !canRight) break;\n\n  var pickLeft;\n  if      (!canRight) { pickLeft = true; }\n  else if (!canLeft)  { pickLeft = false; }\n  else {\n    var leftPrice  = remainingToday[left].price;\n    var rightPrice = remainingToday[right].price;\n    var priceDiff  = rightPrice - leftPrice;  // positive = right is more expensive\n    if (priceDiff >= -EARLY_BIAS_EUR) {\n      // Right is more expensive, same price, or only marginally cheaper than left:\n      // prefer left (earlier hour) — keeps grid charging before solar peak.\n      // Only pick right when it is cheaper by more than the bias margin.\n      pickLeft = true;\n    } else {\n      pickLeft = false;\n    }\n  }\n\n  if (pickLeft) { windowIndices.push(left);  left--;  }\n  else          { windowIndices.push(right); right++; }\n}\n\nvar cheapestHours = [];\nfor (var wi = 0; wi < windowIndices.length; wi++) {\n  cheapestHours.push(remainingToday[windowIndices[wi]].localHour);\n}\n\nvar inWindow = cheapestHours.indexOf(currentHour) !== -1;\n\n// Select discharge hours: expensive shoulder bands (morning + evening)\nvar morningBand = [];\nvar eveningBand = [];\nfor (var m = 0; m < remainingToday.length; m++) {\n  var ph = remainingToday[m];\n  // FIX: was dischargeAbsMin (avg*0.55) — any hour below avg should never be a discharge hour\n  if (ph.price >= avgPriceCalc) {\n    if (ph.localHour >= 6 && ph.localHour <= 11) {\n      morningBand.push(ph);\n    } else if (ph.localHour >= 16 && ph.localHour <= 23) {\n      eveningBand.push(ph);\n    }\n  }\n}\n\nmorningBand.sort(function(a, b) { return b.price - a.price; });\neveningBand.sort(function(a, b) { return b.price - a.price; });\n\nvar morningCount   = Math.ceil(morningBand.length * 0.50);\nvar eveningCount   = Math.ceil(eveningBand.length * 0.50);\nvar expensiveSlots = morningBand.slice(0, morningCount).concat(eveningBand.slice(0, eveningCount));\n\nvar expensiveHours = [];\nfor (var k = 0; k < expensiveSlots.length; k++) {\n  expensiveHours.push(expensiveSlots[k].localHour);\n}\n\n// Initial discharge threshold from selected expensive slots\nvar dischargeThreshold = null;\nif (expensiveSlots.length > 0) {\n  var minExpPrice = expensiveSlots[0].price;\n  for (var et = 1; et < expensiveSlots.length; et++) {\n    if (expensiveSlots[et].price < minExpPrice) minExpPrice = expensiveSlots[et].price;\n  }\n  dischargeThreshold = minExpPrice;\n}\n\n// Remove discharge hours that conflict with charge hours\nvar filteredDischargeHours = [];\nfor (var fd = 0; fd < expensiveHours.length; fd++) {\n  if (cheapestHours.indexOf(expensiveHours[fd]) === -1) {\n    filteredDischargeHours.push(expensiveHours[fd]);\n  }\n}\nexpensiveHours = filteredDischargeHours;\n\n// Recalculate threshold from the filtered set\ndischargeThreshold = null;\nfor (var rt = 0; rt < remainingToday.length; rt++) {\n  if (expensiveHours.indexOf(remainingToday[rt].localHour) !== -1) {\n    if (dischargeThreshold === null || remainingToday[rt].price < dischargeThreshold) {\n      dischargeThreshold = remainingToday[rt].price;\n    }\n  }\n}\n\ncheapestHours.sort(function(a, b) { return a - b; });\nexpensiveHours.sort(function(a, b) { return a - b; });\n\nvar inDischargeWindow = expensiveHours.indexOf(currentHour) !== -1;\n\nmsg.plannerVersion        = PLANNER_VERSION;\nmsg.inChargingWindow      = inWindow;\nmsg.inDischargeWindow     = inDischargeWindow;\nmsg.dischargeThreshold    = dischargeThreshold;\nmsg.plannedChargeHours    = cheapestHours;\nmsg.plannedDischargeHours = expensiveHours;\nmsg.hoursNeeded           = hoursNeeded;\nmsg.kwhNeeded             = parseFloat(kwhNeeded.toFixed(2));\nmsg.cheapestPrice         = cheapestPrice;\nmsg.plannerReason         =\n  'Need ' + kwhNeeded.toFixed(1) + ' kWh total' +\n    (solarUsableKwh > 0 ? ', solar covers ~' + solarUsableKwh.toFixed(1) + ' kWh, ' + kwhFromGrid.toFixed(1) + ' kWh from grid (' + hoursNeeded + 'h)' : ' from grid (' + hoursNeeded + 'h)') + '. ' +\n  'SoC ' + batterySoC + '% - cheapest hour: ' + cheapestHour + 'h (' + (cheapestPrice !== null ? cheapestPrice.toFixed(3) : '?') + ' EUR), window centered there. ' +\n  'Avg: ' + avgPriceCalc.toFixed(3) + ' EUR. ' +\n  'Charge hours: ' + cheapestHours.map(function(h) { return h + 'h'; }).join(', ') +\n  '. Discharge hours: ' + expensiveHours.map(function(h) { return h + 'h'; }).join(', ') +\n  '. Discharge threshold: ' + (dischargeThreshold ? dischargeThreshold.toFixed(3) : '?') + ' EUR' +\n  '. In charge window: ' + inWindow +\n  '. In discharge window: ' + inDischargeWindow;\n\nnode.status({\n  fill:  inWindow ? 'green' : inDischargeWindow ? 'red' : 'grey',\n  shape: 'dot',\n  text:  PLANNER_VERSION + ' ' + (inWindow ? 'CHG' : inDischargeWindow ? 'DCH' : 'IDLE') +\n    ' | SoC:' + batterySoC + '% cap:' + chargePriceCap.toFixed(2) +\n    ' | dch>' + (dischargeThreshold ? dischargeThreshold.toFixed(3) : '?') + 'EUR' +\n    ' | hour ' + currentHour + 'h'\n});\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":280,"wires":[["8f5197c94df2f65c"]]},{"id":"8f5197c94df2f65c","type":"api-current-state","z":"2e973c0fd6147a10","name":"Grid import kW","server":"3b57172c.d67da8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","entity_id":"sensor.electricity_meter_energieverbruik","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"gridImport","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"","forType":"num","x":980,"y":280,"wires":[["c0766f51817a748d"]]},{"id":"c0766f51817a748d","type":"api-current-state","z":"2e973c0fd6147a10","name":"Grid export kW","server":"3b57172c.d67da8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","entity_id":"sensor.electricity_meter_energieproductie","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"gridExport","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"","forType":"num","x":1260,"y":280,"wires":[["e67624b356a97318"]]},{"id":"e67624b356a97318","type":"api-current-state","z":"2e973c0fd6147a10","name":"Phase L1 consumption kW","server":"3b57172c.d67da8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","entity_id":"sensor.electricity_meter_power_consumption_phase_l1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"phaseL1","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"","forType":"num","x":440,"y":380,"wires":[["2ceb91740752044a"]]},{"id":"2ceb91740752044a","type":"api-current-state","z":"2e973c0fd6147a10","name":"Phase L2 consumption kW","server":"3b57172c.d67da8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","entity_id":"sensor.electricity_meter_power_consumption_phase_l2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"phaseL2","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"","forType":"num","x":740,"y":380,"wires":[["f17fa8257a169349"]]},{"id":"f17fa8257a169349","type":"api-current-state","z":"2e973c0fd6147a10","name":"Phase L3 consumption kW","server":"3b57172c.d67da8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","entity_id":"sensor.electricity_meter_power_consumption_phase_l3","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"phaseL3","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"","forType":"num","x":1020,"y":380,"wires":[["87ad633542d4ddac"]]},{"id":"87ad633542d4ddac","type":"api-current-state","z":"2e973c0fd6147a10","name":"Growatt PAC1 W","server":"3b57172c.d67da8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","entity_id":"sensor.growatt_acpower_pac1_safe","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pac1","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"","forType":"num","x":410,"y":480,"wires":[["13a34996cfbe1e35"]]},{"id":"13a34996cfbe1e35","type":"api-current-state","z":"2e973c0fd6147a10","name":"Growatt PAC2 W","server":"3b57172c.d67da8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","entity_id":"sensor.growatt_acpower_pac2_safe","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pac2","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"","forType":"num","x":710,"y":480,"wires":[["2d33a81d0e35800a"]]},{"id":"2d33a81d0e35800a","type":"api-current-state","z":"2e973c0fd6147a10","name":"Growatt PAC3 W","server":"3b57172c.d67da8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","entity_id":"sensor.growatt_acpower_pac3_safe","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pac3","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"","forType":"num","x":990,"y":480,"wires":[["51632b45d146f645"]]},{"id":"51632b45d146f645","type":"function","z":"2e973c0fd6147a10","name":"EMS Decision Engine","func":"// EMS Decision Engine\n// v3.9 - canCharge: removed isNegPrice override on SOC_MAX; battery never charges above 95%\n// v3.8 - SOC_CRITICAL branch now also requires price <= chargeAbsMax (avg × 0.55);\n//         prevents emergency charging at above-average prices when avgPrice is skewed early morning\n// v3.7 - isPriceLow: planner window can now be overridden by ratio threshold;\n//         dramatically cheap hours (price <= CHARGE_THRESHOLD × avg) always charge\n//         regardless of planned window, so cheap hours outside the window aren't wasted\n// v3.6 - SOC_CRITICAL check changed < to <= (was missing boundary at exactly 20%);\n//         isPriceHigh now also guards currentPrice >= avgPrice to prevent discharging below avg\n// v3.5 - canDischarge bug fixed (|| SOC_MAX always true), discharge amp calc fixed (removed ROUND_TRIP_EFF from discharge path)\n// v3.4 - all fixed price thresholds replaced with ratios of today's average\n// v3.3 - solar surplus canChargeSolar flag, never blocked by price or SoC threshold\n// v3.2 - solar surplus before discharge, SOC_DISCHARGE_MIN 15%, gross import target\n// v3.1 - SOC_DISCHARGE_MIN 15%, SOC_CRITICAL 20%\n// v3.0 - P1 phase readings used directly\n\nvar EMS_VERSION = 'EMS v3.9';\n\nvar CFG = {\n  MAX_AMPS:             200,\n  BATTERY_VOLTAGE:      48,\n  BATTERY_KWH:          40,\n  SOC_MIN:              10,\n  SOC_MAX:              95,\n  SOC_DISCHARGE_MIN:    15,\n  SOC_CRITICAL:         20,\n  CHARGE_THRESHOLD:     0.80,\n  DISCHARGE_THRESHOLD:  1.20,\n  CHARGE_ABS_RATIO:     0.55,\n  DISCHARGE_ABS_RATIO:  0.55,\n  DISCHARGE_OVERSHOOT:  1.25,\n  EXPORT_BIAS_W:        800,\n  HYSTERESIS:           0.05,\n  SOLAR_SURPLUS_W:      500,\n  SOLAR_SURPLUS_EXIT_W: 200,\n  ROUND_TRIP_EFF:       0.85,\n  GRID_MAX_A_PHASE:     18,\n  GRID_VOLTAGE:         230,\n  SAFETY_MARGIN_A:      2,\n  MIN_DISCHARGE_A:      35\n};\n\nvar currentPrice     = parseFloat(msg.currentPrice) || 0;\nvar avgPrice         = parseFloat(msg.avgPrice)     || 0.10;\nvar inChargingWindow = msg.inChargingWindow;\n\nvar gridImport       = parseFloat(msg.gridImport) || 0;\nvar gridExport       = parseFloat(msg.gridExport) || 0;\nvar netGridW         = (gridImport - gridExport) * 1000;\nvar dischargeTargetW = gridImport * 1000;\n\nvar phaseL1kW  = parseFloat(msg.phaseL1)   || 0;\nvar phaseL2kW  = parseFloat(msg.phaseL2)   || 0;\nvar phaseL3kW  = parseFloat(msg.phaseL3)   || 0;\nvar pac1       = parseFloat(msg.pac1)       || 0;\nvar pac2       = parseFloat(msg.pac2)       || 0;\nvar pac3       = parseFloat(msg.pac3)       || 0;\nvar batterySoC = parseFloat(msg.batterySoC) || 50;\n\nvar lastState    = context.get('lastState')    || 'idle';\nvar pendingState = context.get('pendingState') || 'idle';\nvar pendingCount = context.get('pendingCount') || 0;\n\nvar solarTotalW    = pac1 + pac2 + pac3;\nvar actualSurplusW = (netGridW < 0 && solarTotalW > 50 && Math.abs(netGridW) <= solarTotalW * 1.3) ? Math.abs(netGridW) : 0;\n\nvar priceRatio  = avgPrice > 0 ? currentPrice / avgPrice : 1;\nvar isNegPrice  = currentPrice < 0;\n\n// Dynamic thresholds based on today's average — no fixed euro amounts\nvar chargeAbsMax    = avgPrice * CFG.CHARGE_ABS_RATIO;\nvar dischargeAbsMin = avgPrice * CFG.DISCHARGE_ABS_RATIO;\n\nvar chargeRatioThreshold    = lastState === 'charging'    ? CFG.CHARGE_THRESHOLD    + CFG.HYSTERESIS : CFG.CHARGE_THRESHOLD;\nvar dischargeRatioThreshold = lastState === 'discharging' ? CFG.DISCHARGE_THRESHOLD - CFG.HYSTERESIS : CFG.DISCHARGE_THRESHOLD;\n\nvar isPriceLow;\nvar isPriceVeryLow = priceRatio <= CFG.CHARGE_THRESHOLD && currentPrice <= chargeAbsMax;  // ratio override\nif (batterySoC <= CFG.SOC_CRITICAL && currentPrice < avgPrice) {\n  // Critical SoC — charge in any below-average hour regardless of window\n  isPriceLow = true;\n} else if (inChargingWindow === null) {\n  // No planner data — use ratio fallback\n  isPriceLow = isPriceVeryLow || isNegPrice;\n} else {\n  // Planner active — trust the window, but also charge if price is dramatically cheap\n  // regardless of whether this hour was planned. Prevents wasting low-price hours\n  // that fall outside the centered window (e.g. a cheap morning dip before 12h).\n  isPriceLow = inChargingWindow || isPriceVeryLow || isNegPrice;\n}\n\nvar isPriceHigh;\nif (msg.inDischargeWindow === true) {\n  // FIX: guard against planner flagging discharge hours below avg price\n  isPriceHigh = currentPrice >= avgPrice && currentPrice >= dischargeAbsMin;\n} else {\n  isPriceHigh = priceRatio >= dischargeRatioThreshold && currentPrice >= dischargeAbsMin;\n}\n\nvar canCharge      = batterySoC < CFG.SOC_MAX;  // FIX: removed isNegPrice override — never charge above SOC_MAX regardless of price\nvar canChargeSolar = batterySoC < CFG.SOC_MAX;\n// FIX 1: was `(batterySoC > CFG.SOC_MIN || batterySoC > CFG.SOC_MAX) && ...`\n//         `|| batterySoC > CFG.SOC_MAX` is almost never true and the || made the\n//         first condition effectively ignored — now correctly just SOC_MIN guard.\nvar canDischarge   = batterySoC > CFG.SOC_MIN && batterySoC >= CFG.SOC_DISCHARGE_MIN;\n\nvar phaseL1A            = (phaseL1kW * 1000) / CFG.GRID_VOLTAGE;\nvar phaseL2A            = (phaseL2kW * 1000) / CFG.GRID_VOLTAGE;\nvar phaseL3A            = (phaseL3kW * 1000) / CFG.GRID_VOLTAGE;\nvar maxPhaseLoadA       = Math.max(phaseL1A, phaseL2A, phaseL3A);\nvar worstPhaseHeadroomA = Math.max(0, CFG.GRID_MAX_A_PHASE - maxPhaseLoadA - CFG.SAFETY_MARGIN_A);\nvar gridHeadroomW       = worstPhaseHeadroomA * CFG.GRID_VOLTAGE * 3;\nvar maxChargeFromGridA  = Math.round((gridHeadroomW / CFG.BATTERY_VOLTAGE) * CFG.ROUND_TRIP_EFF);\nvar maxAllowedChargeA   = Math.min(CFG.MAX_AMPS, maxChargeFromGridA);\n\nvar solarSurplusThreshold = lastState === 'charging' ? CFG.SOLAR_SURPLUS_EXIT_W : CFG.SOLAR_SURPLUS_W;\n\nvar CONFIRM_CYCLES = (isPriceLow || isPriceHigh || isNegPrice || (actualSurplusW > solarSurplusThreshold && canChargeSolar)) ? 1 : 2;\n\nvar charging    = false;\nvar discharging = false;\nvar targetAmps  = 0;\nvar reason      = '';\n\nif (isNegPrice && canCharge) {\n  charging   = true;\n  targetAmps = maxAllowedChargeA;\n  reason     = 'Negative price (' + currentPrice.toFixed(3) + ' EUR/kWh) - charging at ' + targetAmps + ' A (worst phase headroom: ' + worstPhaseHeadroomA.toFixed(1) + ' A)';\n\n} else if (isPriceLow && canCharge) {\n  var priceDiscount = 1 - priceRatio;\n  var fraction      = 0.50 + (priceDiscount * 2.5);\n  charging   = true;\n  targetAmps = Math.round(Math.min(maxAllowedChargeA, maxAllowedChargeA * fraction));\n  if (batterySoC < CFG.SOC_CRITICAL) {\n    targetAmps = maxAllowedChargeA;\n    reason     = 'Critical SoC (' + batterySoC + '%) - charging at max ' + targetAmps + ' A (price ' + currentPrice.toFixed(3) + ' EUR below avg ' + avgPrice.toFixed(3) + ' EUR)';\n  } else if (inChargingWindow) {\n    reason     = 'Planner: cheapest window (' + currentPrice.toFixed(3) + ' EUR) - charging at ' + targetAmps + ' A. Hours: ' + (msg.plannedChargeHours || []).join('h,') + 'h';\n  } else {\n    reason     = 'Price override: ' + Math.round(priceRatio * 100) + '% of avg (' + currentPrice.toFixed(3) + ' EUR) below threshold - charging at ' + targetAmps + ' A outside planned window';\n  }\n\n} else if (actualSurplusW > solarSurplusThreshold && canChargeSolar) {\n  var surplusAmps = Math.round((actualSurplusW / CFG.BATTERY_VOLTAGE) / CFG.ROUND_TRIP_EFF);\n  charging   = true;\n  targetAmps = Math.min(CFG.MAX_AMPS, surplusAmps);\n  reason     = 'Solar surplus ' + actualSurplusW.toFixed(0) + ' W (' + solarTotalW.toFixed(0) + ' W produced) - absorbing at ' + targetAmps + ' A';\n\n} else if (isPriceHigh && canDischarge) {\n  if (dischargeTargetW > 0) {\n    var targetW = dischargeTargetW + CFG.EXPORT_BIAS_W;\n    // FIX 2: removed / CFG.ROUND_TRIP_EFF — efficiency applies to charging only.\n    //         discharge amps = DC watts needed ÷ DC bus voltage, then overshoot for lag.\n    //         old formula inflated amps by factor of (OVERSHOOT / EFF) = 1.25/0.85 = ~1.47×\n    //         new formula: (targetW / VOLTAGE) * OVERSHOOT only\n    var neededAmps  = Math.round((targetW / CFG.BATTERY_VOLTAGE) * CFG.DISCHARGE_OVERSHOOT);\n    var clampedAmps = Math.max(CFG.MIN_DISCHARGE_A, Math.min(CFG.MAX_AMPS, neededAmps));\n    discharging = true;\n    targetAmps  = clampedAmps;\n    reason      = 'High price (' + (priceRatio * 100).toFixed(0) + '% of avg, ' + currentPrice.toFixed(3) + ' EUR) - discharging ' + targetAmps + ' A to cover ' + dischargeTargetW.toFixed(0) + ' W gross import + ' + CFG.EXPORT_BIAS_W + ' W export bias' + (neededAmps < CFG.MIN_DISCHARGE_A ? ' (raised to minimum ' + CFG.MIN_DISCHARGE_A + ' A)' : '');\n  } else {\n    discharging = true;\n    targetAmps  = CFG.MIN_DISCHARGE_A;\n    reason      = 'High price (' + (priceRatio * 100).toFixed(0) + '% of avg, ' + currentPrice.toFixed(3) + ' EUR) - exporting ' + CFG.MIN_DISCHARGE_A + ' A to grid at peak price (solar export: ' + actualSurplusW.toFixed(0) + ' W)';\n  }\n\n} else {\n  reason = 'Idle - SoC ' + batterySoC + '%, price ' + currentPrice.toFixed(3) + ' EUR (' + (priceRatio * 100).toFixed(0) + '% of avg), solar ' + solarTotalW.toFixed(0) + ' W, netGrid ' + netGridW.toFixed(0) + ' W | ' + (msg.plannerReason || 'no planner');\n}\n\nif (charging && discharging) {\n  discharging = false;\n  reason += ' [conflict resolved: charge wins]';\n}\nif (targetAmps === 0) {\n  charging    = false;\n  discharging = false;\n}\n\ncontext.set('lastState', charging ? 'charging' : discharging ? 'discharging' : 'idle');\n\nvar rawState = charging ? 'charging' : discharging ? 'discharging' : 'idle';\nvar confirmedState;\nif (rawState === pendingState) {\n  var newCount = pendingCount + 1;\n  context.set('pendingCount', newCount);\n  if (newCount >= CONFIRM_CYCLES) {\n    confirmedState = rawState;\n    context.set('lastState', rawState);\n  } else {\n    confirmedState = lastState;\n    reason += ' [confirming ' + newCount + '/' + CONFIRM_CYCLES + ']';\n  }\n} else {\n  context.set('pendingState', rawState);\n  context.set('pendingCount', 1);\n  confirmedState = lastState;\n  reason += ' [pending change to ' + rawState + ' 1/' + CONFIRM_CYCLES + ']';\n}\n\ncharging    = confirmedState === 'charging';\ndischarging = confirmedState === 'discharging';\ntargetAmps  = (charging || discharging) ? targetAmps : 0;\n\nif (targetAmps === 0) {\n  charging    = false;\n  discharging = false;\n}\n\nmsg.payload = {\n  version:     EMS_VERSION + ' / Planner ' + (msg.plannerVersion || 'unknown'),\n  dc_amps:     targetAmps,\n  charging:    charging,\n  discharging: discharging,\n  reason:      reason,\n  planner: {\n    inWindow:              msg.inChargingWindow,\n    inDischargeWindow:     msg.inDischargeWindow,\n    dischargeThreshold:    msg.dischargeThreshold || null,\n    hoursNeeded:           msg.hoursNeeded,\n    kwhNeeded:             msg.kwhNeeded,\n    cheapestPrice:         msg.cheapestPrice,\n    plannedHours:          msg.plannedChargeHours,\n    plannedDischargeHours: msg.plannedDischargeHours,\n    reason:                msg.plannerReason\n  },\n  inputs: {\n    currentPrice:        currentPrice,\n    avgPrice:            avgPrice,\n    priceRatio:          parseFloat((priceRatio * 100).toFixed(1)),\n    chargeAbsMax:        parseFloat(chargeAbsMax.toFixed(3)),\n    dischargeAbsMin:     parseFloat(dischargeAbsMin.toFixed(3)),\n    lastState:           lastState,\n    batterySoC:          batterySoC,\n    solarTotal_W:        solarTotalW,\n    netGrid_W:           netGridW,\n    dischargeTarget_W:   dischargeTargetW,\n    actualSurplus_W:     actualSurplusW,\n    phaseL1_A:           parseFloat(phaseL1A.toFixed(2)),\n    phaseL2_A:           parseFloat(phaseL2A.toFixed(2)),\n    phaseL3_A:           parseFloat(phaseL3A.toFixed(2)),\n    maxPhaseLoad_A:      parseFloat(maxPhaseLoadA.toFixed(2)),\n    worstHeadroom_A:     parseFloat(worstPhaseHeadroomA.toFixed(2)),\n    gridHeadroom_W:      parseFloat(gridHeadroomW.toFixed(0)),\n    maxAllowedCharge_A:  maxAllowedChargeA\n  },\n  timestamp: new Date().toISOString()\n};\n\nnode.status({\n  fill:  charging ? 'green' : discharging ? 'red' : 'grey',\n  shape: 'dot',\n  text:  EMS_VERSION + ' ' + (charging ? 'CHG ' : discharging ? 'DCH ' : 'IDLE ') + targetAmps + 'A | SoC:' + batterySoC + '% | ' + currentPrice.toFixed(3) + 'EUR | solar:' + solarTotalW.toFixed(0) + 'W'\n});\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":580,"wires":[["c005d6e72a0fb320"]]},{"id":"c005d6e72a0fb320","type":"function","z":"2e973c0fd6147a10","name":"Split outputs","func":"const p = msg.payload;\nvar dc_amps = p.dc_amps;\nvar dc_power = msg.payload.dc_amps * 48 ;\nvar charging = p.charging;\nvar discharging = p.discharging;\n\n\nmsg.dc_amps = dc_amps;\nmsg.dc_power = dc_power;\nmsg.charging = charging;\nmsg.discharging = discharging;\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":700,"wires":[["591f187a11c73afb","bd459b6f901668c5","970a5d438bdfefb5","95636c283d9220b2"]]},{"id":"970a5d438bdfefb5","type":"debug","z":"2e973c0fd6147a10","name":"EMS Diagnostics","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload.reason","statusType":"auto","x":710,"y":660,"wires":[]},{"id":"591f187a11c73afb","type":"api-call-service","z":"2e973c0fd6147a10","name":"Set charging current","server":"3b57172c.d67da8","version":7,"debugenabled":false,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye_battery_grid_charging_current"],"labelId":[],"data":"{\"value\":\"{{dc_amps}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"number","service":"set_value","x":720,"y":580,"wires":[[]]},{"id":"bd459b6f901668c5","type":"api-call-service","z":"2e973c0fd6147a10","name":"Set dicharge value","server":"3b57172c.d67da8","version":7,"debugenabled":false,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.deye_export_surplus_power"],"labelId":[],"data":"{\"value\":\"{{dc_power}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"number","service":"set_value","x":710,"y":740,"wires":[[]]},{"id":"95636c283d9220b2","type":"api-call-service","z":"2e973c0fd6147a10","name":"DC Amps","server":"3b57172c.d67da8","version":7,"debugenabled":false,"action":"input_number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_number.battery_dc_amps"],"labelId":[],"data":"{\"value\":\"{{dc_amps}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_number","service":"set_value","x":690,"y":820,"wires":[[]]},{"id":"5049e3857075b56b","type":"server-state-changed","z":"2e973c0fd6147a10","name":"Battery SoC change","server":"3b57172c.d67da8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.deye_battery"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"95","ifStateType":"num","ifStateOperator":"gt","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":true,"outputProperties":[],"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.energyzero_today_energy_current_hour_price","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","output_only_on_state_change":true,"x":110,"y":380,"wires":[["e67a47eeb9b1d6da"],[]]},{"id":"25a1ddba1ceab809","type":"api-current-state","z":"2e973c0fd6147a10","name":"Battery SoC %","server":"3b57172c.d67da8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","entity_id":"sensor.deye_battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"batterySoC","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"","forType":"num","x":1260,"y":180,"wires":[["4af15415b979fe2c"]]},{"id":"4af15415b979fe2c","type":"api-current-state","z":"2e973c0fd6147a10","name":"Solar production remaining","server":"3b57172c.d67da8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.energy_production_today_remaining","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"solarForecastRemaining","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"","forType":"num","x":440,"y":280,"wires":[["7cd0ba2a03fa0573"]]},{"id":"3b57172c.d67da8","type":"server","name":"Home Assistant","addon":true},{"id":"add0fbe5933668ca","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3"}}]
